.controlsWrapper{   
    height: 60px;
    background-color: #ffffff;
    align-items: center;

    display: flex;
    justify-content:flex-end;

    margin-right: 20px;
}

.controlsElements{   
    /* background-color: rgb(207, 207, 207);
    height: 40px;
    padding: auto;
    display:inline-flex;
    align-items: center;
    justify-content: center; */
}

.controlLink{
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 0; 

    color: #636363;
    font-size:large;

}

li.controlElement{
    display: inline;
}