.teamTable{
    align-items:center;
    margin: auto;
    padding: 50px;
}

.teamTable table {
    border-spacing: 0;
}

.teamTable th{
    height: 60px;

    color: #00273f;

    font-size: x-large;
}

.teamTable td{
    width: 15em;
    height: 60px;
    text-align: center;
    align-items:center;
    
    color: rgb(100, 100, 100);
}

.teamTable tbody tr:nth-child(odd){
    background-color: rgb(200, 200, 200);
    
}