.employeesTable{
    align-items:center;
    margin: auto;
    padding: 50px;
}

th{
    height: 30px;

    color: rgba(0, 111, 255);

    font-size: large;
}

td{
    width: 15em;
    height: 30px;
    text-align: center;
    align-items:center;
    
    color: rgb(100, 100, 100);
}