.employeesTable{
    margin-top: 20px;
    
    border-spacing: 0;
    width: 100%;
    color:#808182;
    border-collapse: collapse; 
    text-decoration: underline;

  letter-spacing: 1px;
    
}

.employeesTable th{
    height: 60px;
    color: rgb(77, 77, 77);
    background-color: #f7f7f7;
    /* border-bottom: thin solid;

    border-top: thin solid; */
    border: 1px, solid, black;
    text-align: left;
    
    padding-left: 25px;
}

.employeesTable td{
    height: 50px;
    padding-left: 25px;
    
}


.employeesTable tbody tr:nth-child(odd){
    background-color: #ffffff;
    
}


.employeesTable tbody tr:nth-child(even){
    background-color: #fbfbfc;
    
}