.employeesTable{
    align-items:center;
    margin: auto;
    padding: 50px;
}

.employeesTable table {
    border-spacing: 0;
}

.employeesTable th{
    height: 60px;

    color: #00273f;

    font-size: x-large;
}

.employeesTable td{
    width: 15em;
    height: 60px;
    text-align: center;
    align-items:center;
    
    color: rgb(100, 100, 100);
}

.employeesTable tbody tr:nth-child(odd){
    background-color: rgb(200, 200, 200);
    
}