.cards-wrapper{

    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    justify-content: space-around;


}

.card-wrapper{
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 10px;

    position: relative;
    display:flex;

    box-shadow: 8px 8px 5px -10px $decorationsBlue;

    transition: all 0.3s;

    &:hover{

        box-shadow: 4px 4px 5px 0px $decorationsBlue;

        transition: all 0.3s;
    }
}

.card-image{
    width: 150px;
    height: 150px;

    margin: auto;

    display: flex;

}

.card-content{
    margin: auto;
    padding: auto;
}


.card-text{
    padding-inline-start: 0 !important;

    list-style: none;
    text-align: center;

    justify-content: space-around;

}

.card-text-elements{
    padding: 5px;
}

.card-buttons-wrapper{
    width: max-content;
    display: flex;
    justify-content: center;
    margin: auto;
}

.card-member-remove-button{
    width: 80px;
    height: 20px;

    background-color: transparent;
    border: none;
    outline: none;

    color: $decorationsBlue;
    border-bottom: 2px solid transparent;

    &:hover{

        border-bottom: 2px solid $decorationsBlue;
    }
}