@import "./variables";

.controlsWrapper{   
    height: 60px;
    background-color: $backgroundWhite;
    color: $textGrey;

    align-items: center;
    display: flex;
    justify-content:space-between;

    margin-right: 20px;
}

.pageHeader{
    margin-left: 30px;
    float: left;
    font-size: x-large;
}

.controlsElementsWrapper{

    display: flex;
}

.controlLink{
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 0; 

    color: $textGrey;
    font-size:large;

    cursor: pointer;

    text-decoration: underline;

}

li.controlElement{
    display: inline;
}

.filterBar{
    height: 20px;
    width: 150px;
    color: $textGrey;
    font-size: medium;
    justify-self: baseline;

    margin: auto;

    border: none;
    border-bottom: 1px solid $decorationsBlue;
    outline: none;

    &:focus{
        width: 300px;
        
        transition: all 0.2s ease-in-out;
    }
}