@import "./variables";

.controlsWrapper{   
    height: 100px;
    background-color: $backgroundWhite;
    color: $textGrey;


    align-items: center;
    display: flex;
    justify-content:space-between;

    width: 100%;

    padding: 20px 0px 0px 0px;

    position:fixed;

    transform: translateY(-150px);

    z-index: 3;
    top: 30;
    left: 0;

    transition: all 0.2s ease-in-out;

    box-shadow: 0px 15px 10px -20px $decorationsBlue;

     &:hover{

        transition: all 0.4s ease-in-out;
        transform: translateY(-60px);

        box-shadow: 0px 20px 20px -17px $decorationsBlue;
     }



}

.pageHeader{

    margin-left: 50px;

    margin-right: 50px;
    float: left;
    font-size: x-large;
}

.controlsElementsWrapper{

    margin-right: 50px;
    display: flex;
}

.controlLink{

    margin-right: 30px;
    border: none;
    outline: none;
    border-radius: 0; 

    color: $textGrey;
    font-size:large;

    cursor: pointer;

    text-decoration: underline;

}

.controlsLabels{

    height: 25px;

    vertical-align:bottom;
    text-align:center;
    color: $textGrey;
    background-color: transparent;
    font-size: medium;

    margin: auto;
    margin-left: 15px;
    margin-right: 5px;
    padding-top: 9px;
}

.controlsElements{
    height: 25px;
    width: auto;
    color: $textGrey;
    background-color: transparent;
    font-size: medium;
    justify-self: baseline;

    margin: auto;
    margin-right: 5px;
    padding: 2px;

    border: none;
    border-bottom: 1px solid $decorationsBlue;
    outline: none;

}

.filterBar{
    height: 29px;
    width: 150px;
    color: $textGrey;
    font-size: medium;
    justify-self: baseline;

    margin: auto;
    margin-right: 5px;

    border: none;
    border-bottom: 1px solid $decorationsBlue;
    outline: none;

    &:disabled{
        background-color: transparent;
    }

    &:focus{
        width: 300px;
        
        transition: all 0.2s ease-in-out;
    }
}
