.service-form-wrapper{
    padding-top: 15px;
}

.formFieldsWrapper{
    padding:15px;
}

.email-form-boundaries{
    max-width: 500px;
}

.form-header{
    display: flex;
    font-size: large;
    justify-content: center;
    color: white;
    margin: auto;
    padding: auto;
}

.formLabel{
    font-size: medium;
    margin: auto;
    margin-left: 0;
    float: left;
    padding-right: 10px;

    color: $textGrey;    
}

.formTextInput{
    height: 40px;
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid $textGrey; 
    border-radius: 0px;
    color: $textGrey;
    background-color: transparent;
    justify-content: end;
    font-size: medium;;

}

.formTextUpdateInput{

    &:hover{
        border-bottom: 1px solid $updateYellow;
    }
}


.formTextDeleteInput{

    &:hover{
        border-bottom: 1px solid $errorRed;
    }
}

.formTextRemoveInput{

    &:hover{
        border-bottom: 1px solid $decorationsBlue;
    }
}

.profile-form-service-label{
    font-size: small;
    color:white;
    margin-left: 10px;
}

.formTextServiceInput{

    max-width: 30vw;
    width: 100em;
    max-height: 15vh;
    background-color: white;

    margin: 0px 0px 10px 0px;

    &:hover{
        border-bottom: 1px solid $decorationsBlue;
    }
}

.formFieldWrapper{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.formButtonsWrapper{
    
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.formButton{
    width: 150px;
    height: 50px;

    background-color: transparent;
    border: none;
    outline: none;

    font-size: large;
    font-weight: bold;
    text-align: center;

    color: $textGrey;
    border-bottom: 2px solid transparent; 

    &:hover{

        border-bottom: 2px solid $textGrey; 
    }

}

.formUpdateButton{

    color: $updateYellow;
    border-bottom: 2px solid transparent; 

    &:hover{

        border-bottom: 2px solid $updateYellow; 
    }
}

.formDeleteButton{

    color: $errorRed;
    border-bottom: 2px solid transparent; 

    &:hover{

        border-bottom: 2px solid $errorRed;
    }
}

.formRemoveButton{

    color: $decorationsBlue;
    border-bottom: 2px solid transparent; 

    &:hover{

        border-bottom: 2px solid $decorationsBlue;
    }
}

.formServiceButton{

    color: white;
    border-bottom: 2px solid transparent; 

    &:hover{

        border-bottom: 2px solid white;
    }
}