@import "./variables";

.headerWrapper{
    margin: auto;
    align-items:center;

    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: $backgroundWhite;

    box-shadow: 0px 15px 10px -20px $decorationsBlue;

}

.headerWrapper:hover{
    -webkit-box-shadow: 0px 20px 20px -17px $decorationsBlue;
    -moz-box-shadow: 0px 20px 20px -17px $decorationsBlue;
    box-shadow: 0px 20px 20px -17px $decorationsBlue;

    transition: all 0.4s ease-in-out;
}

.profileLinks{
    height: 60px;
    margin: auto;
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    display: flex;
    align-items:center;
    justify-content:right;
}

.headerbarLogOutButton{
    width: 120px;
    height: 30px;
    border: none;
    outline: none;
    font-size:medium;
    margin: 5px;
    text-align: center;
    justify-content: center;
    font-size: small;
    
    background-color: $decorationsBlue;
    color: $backgroundWhite;

}

.headerbarLogOutButton:hover{
    text-decoration: underline;
    border: none;
}

.logo{
    
    display: flex;
    height: 60px;
    font-size: xx-large;
    align-items:center;
    margin: auto;


    color: $textGrey;
}


.linksmenuNav{
    height: 60px;
    display: flex;
    align-items:center;
    justify-content:left;

    padding-left: 150px;
    padding-right: 150px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: #fafafa;
}

.linksmenuLinks{
    display: block;
    flex: 0 1 auto;
    list-style-type: none;

    font-size: medium;
}

a:link{
    color: #808182;
    font-weight: bold;
    text-decoration: none;
    padding-left: 30px;
}

a:visited{
    color: #808182;
}

a:hover{

    text-decoration: underline;
}