

.loginFormWrapper{

    background-color: $backgroundWhite;
    padding: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;


    box-shadow: 0px 15px 10px -20px $decorationsBlue;

    &:hover{

        -moz-box-shadow: 0 10px 25px $decorationsBlue;
        -webkit-box-shadow: 0 10px 25px $decorationsBlue;
        box-shadow: 0 10px 25px$decorationsBlue;
    
        transition: all 0.4s ease-in-out;
    }
}

.loginFormLabels{
    padding-left: 15px;
    color: $decorationsBlue;
    font-size: 30px;
}

.loginFormInput{
    width: 600px;
    height: 60px;
    outline: none;
    margin-bottom: 80px;
    padding: none;
    padding-left: 15px;

    line-height:40px;
    color: $decorationsBlue;
    font-size: 20px;
    vertical-align: baseline;

    background-color:$backgroundWhite;
    border: none;
    border-bottom: 2px solid $decorationsBlue;

    &:hover{

        -webkit-box-shadow: 0px 20px 35px -16px$decorationsBlue;
        -moz-box-shadow: 0px 20px 35px -16px $decorationsBlue;
        box-shadow: 0px 20px 35px -16px $decorationsBlue;  
        transition: all 0.2s ease-in-out;
    }

    &:focus{

        -webkit-box-shadow: 0px 20px 35px -16px$decorationsBlue;
        -moz-box-shadow: 0px 20px 35px -16px $decorationsBlue;
        box-shadow: 0px 20px 35px -16px $decorationsBlue;  
        transition: all 0.2s ease-in-out;
    }
}

.loginButtonsWrapper{
    width: 600px;
    display: flex;
    justify-content:flex-end;
}

.forgottenPasswordFormButton{
    width: 250px;
    height: 60px;
    margin: 0;
    border: none;
    outline: none;
    background-color: $backgroundWhite;
    color:$decorationsBlue;
    font-weight:1000;
    font-size:medium;

    &:hover{
        text-shadow: 0 0 15px $decorationsBlue;
        transition: all 0.2s ease-in-out;
    }
}

.signInFormButton{
    width: 100px;
    height: 60px;
    margin: 0;
    border: none;
    outline: none;
    background-color: $decorationsBlue;
    color:$backgroundWhite;
    font-weight:1000;
    font-size:medium;

    &:hover {
        -webkit-box-shadow: 0px 20px 35px -6px $decorationsBlue;
        -moz-box-shadow: 0px 20px 35px -6px $decorationsBlue;
        box-shadow: 0px 20px 35px -6px $decorationsBlue;  
        transition: all 0.2s ease-in-out;
    }
}
