@import "./variables";

.modalBackground{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;

    outline: none;
    border: none;

    background-color: rgba(114, 114, 114, 0.3);
    position: fixed;

    z-index: 2;
}

.modalWrapper{
    width: 600px;
    height: 400px;
    margin-top: 250px;
    display: grid;
    position: relative;
    justify-content: center;
    margin:auto;
    font-size: xx-large;
    background-color: $backgroundWhite;

    z-index: 3;
}

.modalHiddenPosition{

    transition: all 0.3s ease-in;
    position:absolute;
    transform: translateY(-120vh);
}

.modalVisablePosition{
    transition: all 0.3s ease-in;
    position:absolute;
}

.modalHeader{

    font-size: x-large;
    color: $textGrey;
    text-align: center;
    margin: auto;
}

.modalText{
    color: $textGrey;
    font-size: large;
    text-align: center;
    height: 30px;
}

.modalList{
    list-style: none;
    display: grid;
    padding-inline-start: 0 !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

.modalTextInput{
    height: 25px;
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid $textGrey; 
    border-radius: 0px;
    background-color: transparent;

}

.modalTextUpdateInput{

    &:hover{
        border-bottom: 1px solid $updateYellow;
    }
}


.modalTextDeleteInput{

    &:hover{
        border-bottom: 1px solid $errorRed;
    }
}

.modalButtonsWrapper{
    display: flex;
    justify-content:space-around;

    margin-top: 40px;
}

.modalButton{
    width: 150px;
    height: 50px;

    background-color: transparent;
    border: none;
    outline: none;

    font-size: large;
    font-weight: bold;
    text-align: center;

    color: $textGrey;
    border-bottom: 2px solid transparent; 

    &:hover{

        border-bottom: 2px solid $textGrey; 
    }

}

.modalUpdateButton{

    color: $updateYellow;
    border-bottom: 2px solid transparent; 

    &:hover{

        border-bottom: 2px solid $updateYellow; 
    }
}

.modalDeleteButton{

    color: $errorRed;
    border-bottom: 2px solid transparent; 

    &:hover{

        border-bottom: 2px solid $errorRed;
    }
}

.modalDismissButton{
    width: 20px;
    height: 20px;

    position: absolute;
    top: 10px;
    right: 10px;

    background-color: transparent;
    border: none;
    outline: none;

    font-size: large;
    font-weight: bold;
    text-align: center;

    color: $textGrey;

    &:hover{

        text-shadow: 2px 2px 2px $textGrey;
    }
}