@import "./variables";

.tables{
    
    border-spacing: 0;
    width: 100%;
    color: $textGrey;
    border-collapse: collapse; 
    letter-spacing: 1px;
    
    th{
        height: 60px;
        color: $textGrey;
        background-color: $headerRowBackground;
        text-align: left;
        padding-left: 40px;
        font-size: small;
        text-decoration: none;
    }

    tbody tr:nth-child(odd){
        background-color: $backgroundWhite;
    }

    tbody tr:nth-child(even){
        background-color: $evenColumnsBackground;
    }

    td{
        height: 50px;
        padding-left: 40px;
        font-size: x-small;
        
    }
}

.actionButtonsWrapper{

    justify-content: space-around;
}

.editButton{
    height: 20px;
    width: 30px;
    border-radius: 5px;

    margin: 5px;
    border: 2px solid rgb(233, 213, 35);
    outline: none;

    background-color: transparent;

    &:hover {
        box-shadow: 1px 2px 3px 0px rgb(233, 213, 35); 
    }
}

.editButtonIcon{
    color: rgb(233, 213, 35);
}

.deleteButton{

    height: 20px;
    width: 30px;
    border-radius: 5px;

    margin: 5px;
    border: 2px solid rgb(255, 47, 47);
    outline: none;

    background-color: transparent;

    &:hover{

        transition: all 0.2s ease-in-out;
        box-shadow: 1px 2px 3px 0px rgb(255, 47, 47);
    }
}

.deleteButtonIcon{
    color: rgb(255, 47, 47);
}

.tablesFieldInput{
    height: 20px;
    width: 150px;
    color: $textGrey;
    font-size: medium;
    justify-self: baseline;

    margin: auto;

    border: none;
    border-bottom: 1px solid $textGrey;
    outline: none;

    &:focus{
        
        transition: all 0.2s ease-in-out;
    }

    &:disabled{

    border-bottom: 1px solid $textGrey;
    }
}