$decorationsBlue: #006FFF;
$updateYellow: #e9d523;
$errorRed: #be0013;
$backgroundSnowWhite: #fafafa;
$backgroundDimGrey: #2b2b2b;
$backgroundWhite: #ffffff;
$backgroundGrey: #272727;
$textGrey: #646464;
$headerRowBackground: #f7f7f7;
$evenColumnsBackground: #fbfbfc;

// $decorationsBlue: #ff0000;
// $updateYellow: #e9d523;
// $errorRed: #be0013;
// $backgroundSnowWhite: #000000;
// $backgroundDimGrey: #000000;
// $backgroundWhite: #000000;
// $backgroundGrey: #272727;
// $textGrey: #e94e4e;
// $headerRowBackground: #131313;
// $evenColumnsBackground: #181818;