$decorationsBlue: #006FFF;
$updateYellow: #e9d523;
$errorRed: #be0013;
$backgroundSnowWhite: #fafafa;
$backgroundDimGrey: #2b2b2b;
$backgroundWhite: #ffffff;
$backgroundGrey: #272727;
$textGrey: #646464;
$headerRowBackground: #f7f7f7;
$evenColumnsBackground: #fbfbfc;