@import "./calendar";
@import "./controls";
@import "./forms";
@import "./tables";
@import "./headerbar";
@import "./login";
@import "./modal";

* {
    font-family: Josefin, Arial, serif;
    
  }
  
  @font-face {
    font-family: 'Momcake';
    src: local('Momcake'), url(../fonts/MomcakeThin-9Y6aZ.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Josefin';
    src: local('Josefin'), url(../fonts/JosefinSansRegular-x3LYV.ttf) format('opentype');
  }
  
  @font-face {
    font-family: 'Royal Crescent';
    src: local('Royal Crescent'), url(../fonts/RoyalCrescent-G8BP.ttf) format('opentype');
  }

input{
    height: 200px;
}