/* .loginSiteWrapper {

  width: 100%;
  height:100em;
    background: linear-gradient(-45deg, #cccccc, #d3d3d3, #ffffff, #d3d3d3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

.loginFormWrapper{

    background-color: #fafafa;
    padding: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    

    -webkit-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
    -moz-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
    box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
}

.loginFormWrapper:hover{
    -moz-box-shadow: 0 10px 25px rgba(0, 111, 255, 0.65);
    -webkit-box-shadow: 0 10px 25px rgba(0, 111, 255, 0.65);
    box-shadow: 0 10px 25px rgba(0, 111, 255, 0.65);

    transition: all 0.4s ease-in-out;
}

.loginFormLabels{
    padding-left: 15px;
    color: rgba(0, 111, 255);
    font-size: 30px;
}

.loginFormInput{
    width: 600px;
    height: 60px;
    outline: none;
    margin-bottom: 80px;
    padding: none;
    padding-left: 15px;

    line-height:40px;
    color: rgba(0, 111, 255);
    font-size: 20px;
    vertical-align: baseline;

    background-color:#fafafa;
    border: none;
    border-bottom: 2px solid rgba(0, 111, 255);
}

.loginFormInput:hover{
    -webkit-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
    -moz-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
    box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);   
    transition: all 0.2s ease-in-out;
}

.loginFormInput:focus{
    -webkit-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
    -moz-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
    box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);   
    transition: all 0.2s ease-in-out;
}



.loginFormInput:-webkit-autofill,
.loginFormInput:-webkit-autofill:hover, 
.loginFormInput:-webkit-autofill:focus
.loginFormInput:-webkit-autofill:active {

    font-size: 20px;
  -webkit-text-fill-color:  rgba(0, 111, 255, 0.65);  
  -webkit-box-shadow: 0 0 0px 1000px #fafafa inset;
  transition: background-color 5000s ease-in-out 0s;
}


.loginButtonsWrapper{
    width: 600px;
    display: flex;
    justify-content:flex-end;
}

.forgottenPasswordFormButton{
    width: 250px;
    height: 60px;
    margin: 0;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #fafafa;
    color: rgba(0, 111, 255);
    font-weight:1000;
    font-size:medium;
}

.forgottenPasswordFormButton:hover{
    text-shadow: 0 0 15px rgba(0, 111, 255);
    transition: all 0.2s ease-in-out;
}


.signInFormButton{
    width: 100px;
    height: 60px;
    margin: 0;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgba(0, 111, 255);
    color:#fafafa;
    font-weight:1000;
    font-size:medium;
}

.signInFormButton:hover{

    -webkit-box-shadow: 0px 20px 35px -6px rgba(0, 111, 255, 0.65);
    -moz-box-shadow: 0px 20px 35px -6px rgba(0, 111, 255, 0.65);
    box-shadow: 0px 20px 35px -6px rgba(0, 111, 255, 0.65);   
    transition: all 0.2s ease-in-out;
}