.linksShadow {
    text-shadow: 1px 1px rgb(0, 60, 139);
}

.headerbarWrapper{
    width: auto;
    height: 200px;
    background-color:rgba(0, 111, 255);

    padding-left: 150px;
    padding-right: 150px;

    display: flex;
    justify-content: space-between;

}

.headerbarLogOutButton{
    width: 150px;
    height: 60px;
    margin: 30px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size:larger;
    float: right;

    background-color: rgba(0, 111, 255);
    color:white;

}

.logo{
    font-size: 60px;
    color: white;
    padding: 30px;
}

.headerbarLogOutButton:hover{
    background-color: white;
    color:rgba(0, 111, 255);
}

.linksmenuNav{
    width: 1000px;
    height: 60px;
    display: flex;
    align-items:center;
    justify-content:left;
    width: 100%;
    background: rgba(0, 111, 255);

    padding-left: 150px;
    padding-right: 150px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.linksmenuLinks{
    display: block;
    flex: 0 1 auto;
    list-style-type: none;

    background: rgba(0, 111, 255);
    font-size: x-large;
}

a:link{
    color:white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 30px;
}

a:visited{
    color:white;
}

a:hover{

    text-decoration: underline;
}