.calendarWrapper{
    align-items:center;
    margin: auto;
    padding: 20px;
    overflow-x: auto;
}

.calendarTable {
    display: block;
    border-collapse: collapse;
  min-width: 100%;
}

.calendarTable table.fixed { 
    table-layout: fixed; 
} 
.calendarTable table.fixed td { 
    overflow: hidden; 
} 

.calendarTable tr {
    height: 80px;
}

.calendarTable th{
    height: 60px;
    padding: 100px;
    color: #00273f;

    font-size: x-large;
}

.calendarTable td{
    width: 200px;
    height: 200px;
    text-align: center;
    align-items:center;
    
    color: rgb(100, 100, 100);
}

.calendarTable  tbody tr:nth-child(odd){
    background-color: rgb(200, 200, 200);
    
}

.calendarTable  thead td:nth-child(odd){
    background-color: rgb(200, 200, 200);
    
}