
.calendarTable {

    align-items:center;
    margin: auto;
    margin: 20px;
    width: 90%px;
    height: 90vh;

    overflow-y:scroll;
    display:block;

    border-spacing: 0;
}

.calendarTable table.fixed { 
    table-layout: fixed; 
} 
.calendarTable table.fixed td { 
    overflow: hidden; 
} 

.calendarTable tr {
    height: 80px;
}

.calendarTable th{
    height: 60px;
    color: #00273f;
    font-size: x-large;
}

.calendarTable td{
    height: 100px;
    text-align: center;
    align-items:center;
    table-layout:fixed;
    width: 150px;
    
    color: rgb(100, 100, 100);
}

.calendarCell{
    width: 150px;
}

.calendarTable tbody td:nth-child(odd){
    background-color: rgb(200, 200, 200);
    width: 200px;
    height: 100px;
    
}

.calendarTable  thead td:nth-child(odd){
    background-color: rgb(200, 200, 200);
    
}